<!DOCTYPE html>
<html>
	<head>
		<title>Nick Counts</title>
		<link rel='stylesheet' type='text/css' href='/style.css'>
	</head>
	<body>
	<div class="github-fork-ribbon-wrapper right">
		<div class="github-fork-ribbon">
			<a href="https://github.com/iankronquist/nickcount">Fork me on GitHub</a>
		</div>
	</div>
	<div class='header'>
		<div class='header-inner'>
		<div class='title'>
		<h1>
			<a class="h1link" href="/">Nick Counter</a>
		</h1>
		</div>
		<div class='catchphrase'>
			<p class='message'>
			</p>
		</div>
		</div>
	</div>
	<div class='page'>
	<div class='text'>
	<p id='page-description'>
		Who talks the most in IRC channels
	</p>
	</div>
	<div class='content'>
	{% block content %}
	{% endblock %}
	</div>
	</div>
</body>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
</html>
